<div class="container">
  <h1 class="text-center my-5">Nuestros Veterinarios</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/media/veterinarios/veterinario1.jpg" class="card-img-top" alt="Veterinario 1">
        <div class="card-body">
          <h5 class="card-title">Dr. Christian Iván Escamilla Márquez</h5>
          <p class="card-text">Especialista en medicina de pequeños animales con más de 10 años de experiencia.</p>
          <p class="card-text">ID: 325629</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/media/veterinarios/veterinario2.jpg" class="card-img-top" alt="Veterinario 2">
        <div class="card-body">
          <h5 class="card-title">Dr. Julio Cesar Gutierrez Martín</h5>
          <p class="card-text">Experto en cirugía y cuidados intensivos veterinarios.</p>
          <p class="card-text">ID: 265852</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/media/veterinarios/veterinario3.jpg" class="card-img-top" alt="Veterinario 3">
        <div class="card-body">
          <h5 class="card-title">Dr. Diego Emmanuel Muñoz Macías</h5>
          <p class="card-text">Especialista en comportamiento animal y entrenamiento.</p>
          <p class="card-text">ID: 327523</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/media/veterinarios/veterinario4.jpg" class="card-img-top" alt="Veterinario 4">
        <div class="card-body">
          <h5 class="card-title">Dr. Aaron Antonio Raygoza Macías</h5>
          <p class="card-text">Veterinario con amplia experiencia en medicina preventiva y salud pública.</p>
          <p class="card-text">ID: 246778</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/media/veterinarios/veterinario5.jpg" class="card-img-top" alt="Veterinario 5">
        <div class="card-body">
          <h5 class="card-title">Dr. Zuriel Said Zúñiga Delgadillo</h5>
          <p class="card-text">Especialista en nutrición animal y manejo de peso.</p>
          <p class="card-text">ID: 333917</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="part3">
  <div class="div3">
    <div class="text">
      <h3>Únete a nuestro equipo</h3>
      <p>Si estás interesado en ser parte de nuestro equipo de veterinarios, envíanos tu currículum.</p>
    </div>
  </div>
</div>

<div class="university-project">
  <h4>Proyecto Universitario</h4>
  <p>Esta página web ha sido desarrollada como parte de un proyecto de la asignatura "Tecnologías Web" en la Universidad Autónoma de Aguascalientes.</p>
</div>