

    
    <div class="part1" [ngStyle]="centrar">
        <img src="assets/media/Logo.png" alt="" class="logo">

        <h1 style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"> "Los latidos del corazón se entrelazan
            con suaves susurros de ternura."</h1>
    </div>


    <div class="part2">

        <div class="div1">
            <h2 [ngStyle]="{color: colorBase}">¡Encuentra tu compañero peludo en nuestro refugio de amor!</h2>
            <hr>
            <h4>Bienvenido a nuestro refugio, donde cada latido cuenta una historia de esperanza y amor. Aquí,
                encontrarás más que una mascota: descubrirás un amigo leal que llenará tu vida de alegría y
                compañerismo. Nuestro compromiso es encontrar hogares amorosos para cada uno de nuestros residentes de
                cuatro patas, ofreciéndoles una segunda oportunidad para ser amados y cuidados como se merecen. Únete a
                nosotros en esta noble misión de cambiar vidas y abrir tu corazón a un nuevo miembro de la familia.</h4>
        </div>


        <div class="div2">
            <img src="assets/media/CATS.jpg" alt="">
        </div>

        
    </div>
    <app-video></app-video>
    <br><br>
    <div class="part3">

        <div class="div2">
        </div>
        <div class="div3">

            <div class="text">
                <h1>ADOPTACIONES</h1>
                <hr>
                <h3>Cada adopción es un acto de amor que transforma vidas. Al adoptar a uno de nuestros amigos peludos,
                    no solo estás dando un hogar, estás brindando una nueva oportunidad llena de cariño y compañerismo.
                    Únete a nuestra misión y sé parte de esta hermosa historia de amor y esperanza.</h3>
            </div>

        </div>
    </div>
